<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" media="screen">@import url("/assets/index.css");</style>
    <title>image processor</title>
</head>
<body>
    <header>
        <div class="str">
            <h1>~image processor~</h1>
            <h3>support only .png format image </h3>
            <form method="POST" enctype="multipart/form-data" action="/">
                <input type="file" name="img" value="png画像を入力してください">
                <input type="submit" value="processing">
            </form>
            <h3>{{.error}}</h3>
        </div>
        <br>
    </header>
    
    <footer>
        <div class="container">
            {{range $idx, $img := .data}}
            <div class="card">
                <img src="data:image/png;base64,{{$img}}" class="img">                                    
                <p class="str">{{(index $.name $idx)}}</p> 
            </div>
            {{end}}    
        </div>
    </footer>
</body>
</html>
